
@import "../utils/breakpoints";

.sidebar{
    background-color: $amazon-blue;
    color: $white;
    flex: 0.2;
    padding: 30px 0;

    @include media( "<=tablet") {
        display: none;
    }

    &__link{
        display: flex;
        padding-left: 20px;
        margin-top: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        transition: .45s ease-in;

        &-icon{
            margin-right: 15px;
        }
        &-title{
            font-size: 18px;
            font-weight: 600;
        }
        &:hover{
            cursor: pointer;
            color: $link-color;
        }
    }

    &__categories{
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        a{
            color: $gray-1;
            text-decoration: none;
            margin: 10px 0;
            transition: .45s ease-in;
            &:hover{
                cursor: pointer;
                color: $white;
            }
        }
    }

    br{
        padding-top: 30px;
    }
}

.sidebar__link.active{
    &:before{
        position: relative;
        left: -20px;
      content: '';
      width: 4px;
      background-color: $link-color;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
    }
    background-color: $base-color;
    width: 90%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    .sidebar__link-icon{
      color: $link-color;
    }
    .sidebar__link-title{
      color:$link-color;
      font-weight: bold;
    }
  }
  