$base-color: #1b2530;
$amazon-blue: #161D25;
$border-dark: rgba($base-color, 0.88);
$border-light: rgba($base-color, 0.28);
$white: #fff;

$body-color: #F2F2F5;

$font-inter : 'Inter', sans-serif;

$gray-1: #9d9d9d;
$gray-2: #627b96;

$link-color: #FE9800;

$ig-gradient: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)